#button{
    font-family: 'Inter', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    border-radius: 30px;
    background: rgb(4, 222, 146);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    text-decoration: none;
    position: relative;
    height: 78px;
    width: 100%;
}

#resetBtn{
    font-family: 'Inter', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    border-radius: 30px;
    background: rgb(0, 63, 41);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    text-decoration: none;
    position: relative;
    height: 78px;
    width: 100%;
}
