@import "commons.css";
@import "instructions.css";
@import "hero.css";
@import "button.css";

.title{
    display: flex;
    font-family: 'Kumar One';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 85px;
    text-align: center;

}

.left{
    display:inline-flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 0px;
}

